.Form-Page {
  width: 100%;
  background-color: #ebebeb;
}

.fieldContainer {
  box-sizing: border-box;
  width: 100%;
  background-color: #ebebeb;
  padding: 40px 10px;

  &-notation {
    height: 28px;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: justify;
    color: #000000;
  }

  form {
    // box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.FieldBlock {
  box-sizing: border-box;
  width: 100%;
  margin: 10px auto 10px;
  // margin: 10px auto 20px;
  padding: 20px 15px 24px;
  background-color: #ffffff;

  justify-content: space-between;

  .FieldBlock-title {
    // width: 700px;
    height: 29px;
    font-family: PingFangTC;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0 0 10px 0;
  }

  .FieldBlock-content {
    // margin-left: 30px;
  }

  .FieldBlock-info {
    // width: 100px;
    min-height: 28px;
    font-family: PingFangTC;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: justify;
    color: #4a4a4a;

    margin: 0 auto 25px;
  }

  .inputWrapper-textarea {
    textarea {
      width: 100%;
      height: 280px;
      resize: none;
      margin: 0;
      border: 1px lightgray solid;
    }
  }

  .inputWrapper-radio {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 10px;
    .radio-wrap {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      input {
        margin: 0;
      }
    }
  }

  .inputWrapper-single {
    input {
      width: 100%;
      // width: 100%;
      border: none;
      height: 28px;
      font-family: PingFangTC;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: justify;
      color: #000000;

      border-bottom: 1px lightgray solid;
      &:focus {
        outline: none;
      }
    }
    // margin-bottom: 10px;
  }

  .FieldBlock-error {
    min-height: 28px;
    width: 100%;
    font-family: PingFangTC;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: justify;
    color: #d0021b;
    margin-top: 10px;
  }
}

.btnContainer {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 15px;

  .Button {
    margin: auto;
    margin-top: 20px;

    color: white;
  }
}

.create-star {
  color: #ed8c4a;
  margin: 0;
  width: 21px;
}
.verify-star {
  color: #63c1e2;
  margin: 0;
  width: 21px;
}
