.fieldContainer {
  width: 800px;
  margin: 50px auto 0;
}

.FieldBlock {
  box-sizing: border-box;
  margin: 10px auto 20px;
  padding: 20px 50px;
  background-color: #ffffff;
  // background-color: red;

  .FieldBlock-title {
    // width: 700px;
    // height: 29px;
    font-family: PingFangTC;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0 0 10px 0;

    .create-star {
      color: #ed8c4a;
      margin: 0;
      width: 21px;
    }
    .verify-star {
      color: #63c1e2;
      margin: 0;
      width: 21px;
    }
  }

  .FieldBlock-content {
    margin-left: 30px;
  }

  .FieldBlock-info {
    width: 700px;
    height: 28px;
    font-family: PingFangTC;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: justify;
    color: #4a4a4a;

    margin: 0 auto 25px;
  }

  .inputWrapper-radio {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 10px;
    .radio-wrap {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      input {
        margin: 0;
      }
    }
  }

  .inputWrapper-single {
    input {
      width: 100%;
      // width: 100%;
      border: none;
      height: 28px;
      font-family: PingFangTC;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: justify;
      color: #000000;

      border-bottom: 1px lightgray solid;
      &:focus {
        outline: none;
      }
    }
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 24px;
    }
  }

  .FieldBlock-error {
    height: 28px;
    font-family: PingFangTC;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: justify;
    color: #d0021b;
  }
}
