#__nuxt {
  width: 100%;
}

.section-title {
  width: 800px;
  height: 29px;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  margin: 50px auto 30px;
}

.Form-Page {
  background-color: #ebebeb;
}
